.course {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
}
.course img {
  width: 155px;
  margin: 20px;
}
button {
  margin-bottom: 5px;
  padding: 10px;
  color: #fff;
  background-color: yellowgreen;
  border: 1px solid green;
  font-size: 1rem;
  border-radius: 5px;
}
button:hover {
  background-color: goldenrod;
}
